@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Roboto+Slab:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: #FFFFFF;
}

/*--------------- Section 1 For Home Page --------------- */

#section1 {
  width: 100vw;
  height: 100vh;
  position: relative;

}

nav {
  width: 100vw;
  height: 14vh;
  position: absolute;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0vw 4vw;
  position: fixed;
  background-color: #ffff;
  box-shadow: 7px 7px 14px #c5c5c576,
    -7px -7px 14px #fbfbfb;
}

nav .nav-items ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vw;
  list-style: none;
  transition: all ease 3s;
}

.nav-items ul li {
  transition: all ease 3s;
}

.nav-items ul li a {
  text-decoration: none;
  color: #918f8f;
  font-size: 1rem;
  font-weight: 300;
  font-family: Poppins, Helvetica, Arial, Lucida, sans-serif;
  cursor: pointer;
}

.nav-items ul li a:hover {
  color: #999;
}

nav img {
  margin-top: 1.3vw;
  width: 10vw;
  height: 23vh;
}



.dropdown-content {
  position: absolute;
  top: 100%;
  right: 25%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2vw;
  background-color: #fff;
  box-shadow: 2px 2px 2px #dcdcdc,
    -2px -2px 2px #e4e4e4;
  padding: 2vw 4vw;
  border-top: 2px solid #000;
  display: none;
  transition: all ease 1s;
}

.dropdown-content a {
  text-align: start;
  color: #969696;
  text-decoration: none;
  font-size: 1.3vw;
}

.dropdown-content a:hover {
  border-bottom: 2px solid #8D8181;
}

.select:hover .dropdown-content {
  display: block;
}

.nav-items i {
  font-size: 1.6vw;
  font-weight: 800;
  display: none;
}

/*------------- ResponsiveNess For Navbar --------------  */
@media screen and (width < 980px) and (width > 300px) {
  .nav-items {
    display: block;
  }

  nav {
    width: 100vw;
    height: 10vh;
    padding: 0vw 5vw;
  }

  .nav-items ul {
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    flex-direction: column;
    text-align: center;
    height: fit-content;
    gap: 0;
    background: aliceblue;
    /* display: none !important; */
  }

  .nav-items ul li a {
    font-size: 5vw;
  }

  .dropdown-content {
    position: relative;
    display: flex;
    align-items: end;
    justify-content: flex-end;
    flex-direction: column;
    background: none;
    gap: 2vw;
    padding: .5vw 3vw;
    border: none;
    transition: all ease 1s;
    font-size: 3vw;
    margin-left: 60vw;

  }

  .dropdown-content:hover {
    background: none;
  }

  .dropdown-content a {
    font-size: 4vw;
  }

  .nav-items ul li {
    padding: 3px 20px;
  }

  .nav-address {
    display: none;
  }

  .logo img {
    width: 40%;
    height: 30%;
    object-fit: cover;
    object-position: center;
  }

  .nav-items i {
    font-size: 5vw;
    display: block;
  }
}

/*----------- Header + Swpier JS------------ */

.swiper {
  width: 100%;
  height: 100%;
  transition: all ease 1s;
  scroll-snap-type: x mandatory;
  scroll-padding: 0 24px;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease 1s;
  scroll-snap-align: start;
}

.swiper-slide img {
  position: absolute;
  top: 5%;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: contrast(100%);
}

.swiper-button-next,
.swiper-button-prev {
  color: #A07F74;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 30px;
}

.swiper-pagination {
  display: none;
  /* color: #fff; */
}

.swiper-pagination-bullet-active {
  color: #fff !important;
}

.swiper-pagination-bullet {
  color: #fff;
}

.animi {
  display: flex;
  justify-content: center;
  height: 30px;
  width: fit-content;
  align-items: center;
}

.animi i {
  display: flex;
  width: 20px;
  aspect-ratio: 1/1;
  padding-left: 14px;
  background-color: #cecaca3f;
  color: #111;
  border-radius: 50px;
  padding-right: 14px;
  justify-content: center;
  align-items: center;
  transform: translateX(-100px);
  transition: 0.4s ease;
  opacity: 0;

}

.animi:hover i {
  opacity: 1;
  transform: translateX(0px);
}

.swiper {
  scroll-snap-type: x mandatory;
  scroll-padding: 0 24px;
}

.swiper .swiper-slide {
  scroll-snap-align: start;
}


/* Responsivenes----------- */
@media screen and (width<980px) and (width>300px) {
  .swiper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

/* Section---------------------- 2 About Me----------------- */
#about-me {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  align-items: center;
}

.about-container {
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
  /* margin-top: 3vw; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.about-text {
  width: 42vw;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1vw 2vw;
}

.about-text h1 {
  font-size: 4vw;
  font-weight: 200;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  color: #AE887B;
  margin-bottom: 2vw;
}

.about-text p {
  font-size: 1.3vw;
  font-weight: 200;
  font-family: Poppins, Helvetica, Arial, Lucida, sans-serif;
  color: #000;
}

.about-text button {
  margin-top: 3vw;
  width: 11vw;
  height: 4vw;
  border: none;
  border: none;
  background: none;
  border-bottom: 2px solid #8D8181;
  outline: none;
  color: #000;
  font-size: 1.3vw;
  font-weight: 200;
  font-family: Poppins, Helvetica, Arial, Lucida, sans-serif;
  cursor: pointer;
}

.btn-icon i {
  background-color: #E0E0E0;
  border-radius: 50px;
  font-size: 1vw;
  color: #fff;
}

.about-img {
  width: 45%;
  height: 90%;
  position: relative;
}

.about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.about-img::before {
  content: "";
  position: absolute;
  background: #EFDDCF;
  z-index: -1;
  width: 100%;
  top: -10%;
  right: -30%;
  padding: 10px;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


@media screen and (width < 900px) and (width > 300px) {
  #about-me {
    align-items: center;
    margin-top: 5vw;
  }

  .about-container {
    flex-direction: column;
    align-items: center;
  }

  .about-text {
    width: 70vw;

  }

  .about-text h1 {
    font-size: 10vw;
    font-weight: 700;
  }

  .about-text p {
    font-size: 4vw;
    font-weight: 200;
  }

  .about-text button {
    /* font-size: 4vw; */
    width: 40vw;
    height: 10vh;
    font-size: 5vw;
    padding: 2vw 0vw;
  }

  .btn-icon i {
    font-size: 5vw;
  }

  .about-img {
    margin-top: 5vw;
    width: 100%;
    height: 100%;
  }
}

/* More About the MakeUp section---------------------- */
#more-details {
  width: 100%;
  height: 100%;
}

.more-detail {
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
}

.detail-container1 {
  min-width: 31VW;
  height: 90vh;
  background: linear-gradient(rgba(237, 219, 206, 0.2), rgba(141, 112, 109, 0.9)), url('/image/5.jpg');
  background-position: center;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 0vw 3vw;
}

.detail-container1 h3 {
  font-size: 2.3vw;
  font-weight: 200;
  font-family: "Angella White", Helvetica, Arial, Lucida, sans-serif;
  color: #fff;
  margin-bottom: 1vw;
}

.btn i {
  background-color: #E0E0E0;
  font-size: 1vw;
  color: #333;
  padding: 0 5px !important;
  padding-left: 10px;
}


.detail-container1 p {
  font-size: 1.2vw;
  font-weight: 200;
  font-family: Poppins, Helvetica, Arial, Lucida, sans-serif;
  color: #fff;
  margin-top: 1vw;
}

.detail-container1 button {
  margin-top: 5.4vw;
  width: 11vw;
  height: 4vw;
  border: none;
  background: none;
  border-bottom: 2px solid #8D8181;
  outline: none;
  color: #fff;
  font-size: 1.2vw;
  font-weight: 200;
  font-family: Poppins, Helvetica, Arial, Lucida, sans-serif;
  cursor: pointer;
  margin-bottom: 3vw;
}

.detail-container1 button:hover i {
  display: block;
}

.detail-container2 {
  min-width: 38vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.detail-container2 .detail2-cont1 {
  width: 100%;
  height: 47%;
  background: linear-gradient(rgba(237, 219, 206, 0.2), rgba(141, 112, 109, 0.9)), url('/image/3.jpg');
  background-position: center;
  background-size: cover;
}



.detail-container2 .detail2-cont2 {
  width: 100%;
  height: 47%;
  background: linear-gradient(rgba(237, 219, 206, 0.2), rgba(141, 112, 109, 0.9)), url('/image/4.jpg');
  background-position: center;
  background-size: cover;
}

.same h3 {
  font-size: 2.1vw;
  font-weight: 100;
  font-family: "Angella White", Helvetica, Arial, Lucida, sans-serif;
  color: #fff;
  margin-bottom: 1vw;
  padding: 1vw 6vw;
}

.same p {
  font-size: 1.2vw;
  font-weight: 200;
  font-family: Poppins, Helvetica, Arial, Lucida, sans-serif;
  color: #fff;
  padding: 0vw 6vw;
}

.same button {
  margin-top: 3.2vw;
  width: 11vw;
  height: 4vw;
  border: none;
  background: none;
  border-bottom: 2px solid #555;
  outline: none;
  color: #fff;
  font-size: 1.2vw;
  font-weight: 200;
  font-family: Poppins, Helvetica, Arial, Lucida, sans-serif;
  cursor: pointer;

}

.detail-btn {
  margin-left: 22vw;
}



@media screen and (width < 980px) and (width > 300px) {
  .more-detail {
    flex-direction: column;
    align-items: center;
  }

  .detail-container1 {
    margin-top: 3vw;
    width: 80vw;
    flex-direction: column;
    align-items: center;
  }

  .detail-container1 h3 {
    font-size: 6vw;
    font-weight: 400;
    margin-top: 3vw;
  }

  .detail-container1 p {
    font-size: 3.5vw;
    font-weight: 200;
  }

  .detail-container1 button {
    width: 30vw;
    height: 10vh;
    font-size: 4vw;
    padding: 0vw 0vw;
  }

  .btn i {
    font-size: 4vw;
  }

  .detail-container2 {
    width: 80vw;
    margin-top: 3vw;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
  }

  .detail-container2 .detail2-cont1 {

    height: 100%;
  }

  .same h3 {
    margin-top: 4vw;
    font-size: 5.3vw;
    font-weight: 400;
  }

  .same p {
    font-size: 3.5vw;
    font-weight: 200;
  }

  .same button {
    width: 30vw;
    height: 8vh;
    font-size: 4vw;
    padding: 0vw 0vw;
  }

  .detail-btn {
    margin-left: 0;
  }
}

/*--------------------------- My work section------------- */

#my-work {
  width: 100vw;
  height: fit-content;
}

.myWork-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1vw;
  margin-top: 4vw;
}

.myWork-text h1 {
  text-align: center;
  color: #B08B7E;
  font-size: 4vw;
  font-family: "Dancing Script", cursive;
  font-weight: 200;
}

.myWork-text p {
  text-align: center;
  color: #918f8f;
  font-size: 1.5vw;
  font-weight: 200;
  font-family: Poppins, Helvetica, Arial, Lucida, sans-serif;
  margin-top: 1.5vw;
}

.myWork-text button {
  width: 11vw;
  height: 4vw;
  border: none;
  background: none;
  border-bottom: 2px solid #8D8181;
  outline: none;
  color: #000;
  font-size: 1.3vw;
  font-weight: 200;
  font-family: Poppins, Helvetica, Arial, Lucida, sans-serif;
  cursor: pointer;
}

.insta {
  width: 80vw;
  height: 70vh;
  margin: 0 auto;
  margin-top: 3vw;
}

.work-textIcon a {
  text-decoration: none;
  color: #222;
  font-size: 2.3vw;
}

.work-textIcon i {
  color: #fff;
  background-color: black;
  border-radius: 50px;
  padding: .1vw .3vw;

}

.videos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3.5vw;
}


.video1 {
  width: 25vw;
  height: 50vh;
  background-image: url('/image/17.jpeg');
  background-position: center;
  background-size: cover;
}

.video2 {
  width: 25vw;
  height: 50vh;
  background-image: url('/image/13.jpg');
  background-position: center;
  background-size: cover;
}


.video3 {
  width: 25vw;
  height: 50vh;
  background-image: url('/image/11.jpg');
  background-position: center;
  background-size: cover;
}

.insta-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1vw;
}

.insta-btn .more {
  background-color: #222;
  padding: .8vw 1.2vw;
  color: #fff;
  border: none;
  outline: none;
}

.insta-btn .more:hover {
  background-color: #444;
  color: #fff;
}

.insta-btn .follow {
  background-color: #AB8479;
  padding: .8vw 1.2vw;
  border: none;
  outline: none;
  color: #fff;
}

.insta-btn .follow:hover {
  background-color: #359DFF;
}

#portfolio {
  width: 100vw;
  height: fit-content;
}

@media screen and (width > 300px) and (width < 900px) {
  .myWork-text h1 {
    font-size: 7vw;
    font-weight: 500;
  }

  .myWork-text p {
    font-size: 4vw;
    padding: 1vw 4vw;
  }

  .myWork-text button {
    width: 40vw;
    height: 10vw;
    font-size: 4vw;
    padding: 0vw 0vw;
  }

  .insta {
    width: 90vw;
  }

  .work-textIcon a {
    font-size: 4vw;
  }

  .work-textIcon i {
    width: 15%;
    height: 15%;
    padding: 1.5vw .8vw;
  }

  .videos {
    flex-direction: column;
    gap: 3vw;
  }

  .video1,
  .video2,
  .video3,
  img {
    width: 90vw;
    height: 30vh;
    object-fit: contain;
    object-position: center;
  }

}

/* -----------------Client Review Section------------- */
#message {
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
  font-family: "Timeless Regular"
    Helvetica Arial Lucida sans-serif;
}

/* -------------Swiper 2  Js--------------- */

#message .swiper-slide {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.slider {
  width: 100%;
  height: 100%;
  background-color: #F5F5F5;
  text-align: center;
  padding: 1vw 7vw;
  line-height: 1.8;
  color: #A07F74;
}

.slider h5 {
  font-weight: 300;
  font-size: 2vw;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
}

.slider p {
  margin-top: 2vw;
  font-size: 1.2vw;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
}

/* ResponsiveNess For Client Review Section--------- */

@media screen and (width > 300px) and (width < 900px) {
  #meddage {
    width: 90vw;
    height: 50vh;
  }

  .slider {
    width: 90%;
    height: 70%;
    padding: 1vw 8vw;
  }

  .slider h5 {
    font-size: 4vw;
    padding: 1vw 4vw;
  }

  .slider p {
    font-size: 4vw;
  }

  .insta-btn .follow {
    margin-top: 4vw;
    padding: 2vw 4vw;
  }

  .insta-btn .more {
    margin-top: 4vw;
    padding: 2vw 4vw;
  }
}


.btns {
  display: flex;
  align-items: center;
  justify-content: center;
}