@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800,300i,400i,500i,600i,700i,800i&display=swap');


body {
  font-size: 100%;
  background: transparent;
  line-height: 1.7em;
  font-family: Open Sans, Arial, sans-serif;
  color: #666;
  font-weight: 500;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

div {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  margin: 0;
}

body {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

body {
  font-family: Open Sans, Arial, sans-serif;
  font-size: 14px;
  color: #666;
  background-color: #fff;
  line-height: 1.7em;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  vertical-align: baseline;
  background: transparent;
}

.et_pb_row {
  width: 80%;
  max-width: 1080px;
  margin: auto;
  position: relative;
}

.et_pb_row {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

@media (min-width: 981px) {
  .et_pb_row {
    padding: 2% 0;
  }
}

@media all {
  .et_pb_row {
    width: 80%;
    max-width: 1080px;
    margin: auto;
    position: relative;
  }

  .et_pb_row {
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
  }
}

.et_pb_row:after,
.et_pb_row_inner:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  width: 0;
}

@media all {

  .et_pb_row:after,
  .et_pb_row_inner:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
    width: 0;
  }
}

.et_pb_css_mix_blend_mode_passthrough {
  mix-blend-mode: unset !important;
}

.et_pb_column {
  float: left;
  background-size: cover;
  background-position: 50%;
  position: relative;
  z-index: 2;
  min-height: 1px;
}

.et_pb_column {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

@media all {
  .et_pb_column {
    float: left;
    background-size: cover;
    background-position: 50%;
    position: relative;
    z-index: 2;
    min-height: 1px;
  }

  .et_pb_column {
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
  }
}

@media (min-width: 981px) {
  .et_pb_column {
    margin-right: 5.5%;
  }

  .et_pb_column_1_3 {
    width: 29.6667%;
  }

  .et_pb_column {
    margin-right: 3%;
  }

  .et_pb_column_1_3 {
    width: 31.3333%;
  }
}

.et_pb_column.et-last-child,
.et_pb_column:last-child {
  margin-right: 0 !important;
}

@media (min-width: 981px) {

  .et_pb_column.et-last-child,
  .et_pb_column:last-child {
    margin-right: 0 !important;
  }
}

@media all {

  .et_pb_column.et-last-child,
  .et_pb_column:last-child {
    margin-right: 0 !important;
  }
}

.et_pb_module {
  position: relative;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

.et_pb_module {
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
}

.et_pb_image {
  margin-left: auto;
  margin-right: auto;
  line-height: 0;
}

.et_pb_image {
  display: block;
}

.et_pb_image_1 {
  margin-top: 24px !important;
  margin-right: 24px !important;
  margin-bottom: 24px !important;
  margin-left: 0;
  width: 100%;
  max-width: 100% !important;
  text-align: left;
}

@media (min-width: 981px) {
  .et_pb_column_1_3 .et_pb_module {
    margin-bottom: 9.27%;
  }

  .et_pb_column_1_3 .et_pb_module {
    margin-bottom: 4.787%;
  }
}

.et_pb_image_2 {
  margin-top: 24px !important;
  margin-right: 24px !important;
  margin-bottom: 24px !important;
  margin-left: 0;
  width: 100%;
  max-width: 100% !important;
  text-align: left;
}

.et_pb_image_3 {
  margin-top: 24px !important;
  margin-right: 24px !important;
  margin-bottom: 24px !important;
  margin-left: 0;
  width: 100%;
  max-width: 100% !important;
  text-align: left;
}

@media (min-width: 981px) {
  .et_pb_column .et_pb_module:last-child {
    margin-bottom: 0;
  }
}

.et_pb_image_4 {
  margin-top: 24px !important;
  margin-right: 24px !important;
  margin-bottom: 24px !important;
  margin-left: 0;
  width: 100%;
  max-width: 100% !important;
  text-align: left;
}

.et_pb_with_border {
  position: relative;
  border: 0 solid #333;
}

.et_had_animation {
  position: relative;
}

@media all {
  .et_had_animation {
    position: relative;
  }
}

.et_pb_image_5 {
  width: 100%;
  max-width: 100% !important;
  text-align: left;
  margin-left: 0;
}

.et_pb_image_6 {
  margin-top: 24px !important;
  margin-right: 24px !important;
  margin-bottom: 24px !important;
  margin-left: 0;
  width: 100%;
  max-width: 100% !important;
  text-align: left;
}

.et_pb_image_7 {
  width: 100%;
  max-width: 100% !important;
  text-align: left;
  margin-left: 0;
}

.et_pb_image_8 {
  width: 100%;
  max-width: 100% !important;
  text-align: left;
  margin-left: 0;
}

.et_pb_image_9 {
  margin-top: 24px !important;
  margin-right: 24px !important;
  margin-bottom: 24px !important;
  margin-left: 0;
  width: 100%;
  max-width: 100% !important;
  text-align: left;
}

.et_pb_image_10 {
  width: 100%;
  max-width: 100% !important;
  text-align: left;
  margin-left: 0;
}

.et_pb_image_11 {
  margin-top: 24px !important;
  margin-right: 24px !important;
  margin-bottom: 24px !important;
  margin-left: 0;
  width: 100%;
  max-width: 100% !important;
  text-align: left;
}

span {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  vertical-align: baseline;
  background: transparent;
}

.has-box-shadow-overlay {
  position: relative;
}

@media all {
  .et_pb_image_wrap {
    overflow: hidden;
  }
}

.et_pb_image .et_pb_image_wrap {
  display: inline-block;
  position: relative;
  max-width: 100%;
}

.et_pb_image_1 .et_pb_image_wrap {
  box-shadow: -45px -45px 0px 0px rgba(0, 0, 0, 0.05);
}

.et_pb_image_1 .et_pb_image_wrap {
  width: 100%;
}

.et_pb_image_2 .et_pb_image_wrap {
  width: 100%;
}

.et_pb_image_3 .et_pb_image_wrap {
  width: 100%;
}

.et_pb_image_4 .et_pb_image_wrap {
  width: 100%;
}

.et_pb_with_border .et_pb_image_wrap {
  border: 0 solid #333;
}

@media all {
  .et_pb_with_border .et_pb_image_wrap {
    border: 0 solid #333;
  }
}

.et_pb_image_5 .et_pb_image_wrap {
  width: 100%;
}

.et_pb_image_5 .et_pb_image_wrap {
  border-width: 24px;
  border-color: #ffffff;
  box-shadow: 0px 70px 150px -6px rgba(0, 0, 0, 0.2);
}

.et_pb_image_6 .et_pb_image_wrap {
  width: 100%;
}

.et_pb_image_6 .et_pb_image_wrap {
  box-shadow: 45px 45px 0px 0px rgba(0, 0, 0, 0.05);
}

.et_pb_image_7 .et_pb_image_wrap {
  width: 100%;
}

.et_pb_image_7 .et_pb_image_wrap {
  border-width: 24px;
  border-color: #ffffff;
  box-shadow: 0px 70px 150px -6px rgba(0, 0, 0, 0.2);
}

.et_pb_image_8 .et_pb_image_wrap {
  width: 100%;
}

.et_pb_image_8 .et_pb_image_wrap {
  border-width: 24px;
  border-color: #ffffff;
  box-shadow: 0px 70px 150px -6px rgba(0, 0, 0, 0.2);
}

.et_pb_image_9 .et_pb_image_wrap {
  width: 100%;
}

.et_pb_image_9 .et_pb_image_wrap {
  box-shadow: 45px 45px 0px 0px rgba(0, 0, 0, 0.05);
}

.et_pb_image_10 .et_pb_image_wrap {
  width: 100%;
}

.et_pb_image_10 .et_pb_image_wrap {
  border-width: 24px;
  border-color: #ffffff;
  box-shadow: 0px 70px 150px -6px rgba(0, 0, 0, 0.2);
}

.et_pb_image_11 .et_pb_image_wrap {
  width: 100%;
}

.et_pb_image_11 .et_pb_image_wrap {
  box-shadow: 45px 45px 0px 0px rgba(0, 0, 0, 0.05);
}

.box-shadow-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}

img {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  vertical-align: baseline;
  background: transparent;
}

img {
  max-width: 100%;
  height: auto;
}

.lazyloaded {
  opacity: 1;
  transition: opacity 400ms;
  transition-delay: 0ms;
}

.et_pb_image img {
  position: relative;
}

.et_pb_image_1 img {
  width: 100%;
}

.et_pb_image_2 img {
  width: 100%;
}

.et_pb_image_3 img {
  width: 100%;
}

.et_pb_image_4 img {
  width: 100%;
}

.et_pb_image_5 img {
  width: 100%;
}

.et_pb_image_6 img {
  width: 100%;
}

.et_pb_image_7 img {
  width: 100%;
}

.et_pb_image_8 img {
  width: 100%;
}

.et_pb_image_9 img {
  width: 100%;
}

.et_pb_image_10 img {
  width: 100%;
}

.et_pb_image_11 img {
  width: 100%;
}


/* These were inline style tags. Uses id+class to override almost everything */
#style-HkntF.style-HkntF {
  --smush-placeholder-width: 800px;
  --smush-placeholder-aspect-ratio: 800/1201;
}

#style-Olbqo.style-Olbqo {
  --smush-placeholder-width: 1368px;
  --smush-placeholder-aspect-ratio: 1368/1368;
}

#style-HasO9.style-HasO9 {
  --smush-placeholder-width: 800px;
  --smush-placeholder-aspect-ratio: 800/800;
}

#style-HycKd.style-HycKd {
  --smush-placeholder-width: 2048px;
  --smush-placeholder-aspect-ratio: 2048/1176;
}

#style-mwJSZ.style-mwJSZ {
  --smush-placeholder-width: 1321px;
  --smush-placeholder-aspect-ratio: 1321/2243;
}

#style-eoGaE.style-eoGaE {
  --smush-placeholder-width: 2048px;
  --smush-placeholder-aspect-ratio: 2048/1176;
}

#style-sZgwU.style-sZgwU {
  --smush-placeholder-width: 932px;
  --smush-placeholder-aspect-ratio: 932/1400;
}

#style-5mAYh.style-5mAYh {
  --smush-placeholder-width: 819px;
  --smush-placeholder-aspect-ratio: 819/858;
}

@media screen and (width >300px) and (width <900px) {
  #portfolio {
    margin-top: 80vw;
  }

  .box-shadow-overlay {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    pointer-events: none;
  }
}